<div class="our-new-custom-nav">
  <%= render "layouts/nav" %>
</div>
      <!-- START WRAPPER -->
<div class="wrapper">
  <section id="content" class="form-content">
    <%= render "invite_response_form" %>
  </section>
</div>
