<div class="row">
  <div class="col s12">
    <h2 class="header teal-text lighten-2">Messages</h2>
    <table class='bordered'>
      <tr><th></th><th></th></tr>
      <% @messages.each do |message| %>
      <tr>
        <td>
          <a href='/dashboard/messages/<%=message.id%>' class="message">
          <h5><%= message.title%></h5>
          </a>
        </td>
        <td>
          <%= link_to icon('trash'), {action: 'destroy', id: message.id}, method: :destroy, class: 'teal-text lighten-2 fa-size', data: {confirm: "Are you sure you want to delete this message?"} %>
        </td>
        </tr>
        <% end %>
    </table>
  </div>
</div>
