<% #= form_for(task, url: event_tasks_path(task.event_id) + "/#{task.id}", remote: true) do |f| %>
  <div class="col l4">
    <% f.label :name, "Description", class: "bold black-text" %>
    <% #= f.text_field :name, placeholder:"Description", class: "validate", required: :require,  pattern: ".{3,100}", title: "3 to 100 characters required" %>
  </div>
  <div class="l4">
    <% #= f.label :url, "Website", class: "bold black-text" %>
    <% #= f.text_field :url, class: "validate", required: :required,  pattern: "(https?://)?([a-z0-9]+\\.)?[a-z0-9\\-]+\\.[a-z]+.+[^\\W\\_]", title: "Enter a valid url" %>
  </div>
  <div class="browser-default task-level col l4">
    <% #= f.label :level, "Level", class: "bold black-text" %>
    <% #= f.select :level, options_for_select(task_level) %>
  </div>
  <div class="col l4">
    <% #= f.label :summary, "Brief Description", class: "bold black-text" %>
    <% #= f.text_field :summary, class: "validate", required: :required,  pattern: ".{3,100}", title: "3 to 100 characters required" %>
  </div>
  <div class="col l4">
    <% #= f.label :logo, "Logo", class: "bold black-text" %>
    <% #= f.file_field(:logo)%>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn save-task-button cancel-task-button">Cancel</a>
    <% #= f.submit "Save", id: "saveTask", class: "waves-effect waves-green btn save-task-button" %>
  </div>
<% end %>
