<% tasks.each do |task| %>
<div class="col s12 l4 m3">
  <div class="card main-card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="<% #= task.logo_url(:landing)%>">
      <%= can_manage_task(task) %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">lala<% #= link_to task.name, task.url, target: "_blank" %><i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><h6><% #= task.name %></h6><i class="material-icons right">close</i></span>
      <p><% #= task.summary %></p>
    </div>
  </div>
</div>
<% end %>
