<div class="row">
  <% @bookings.each_with_index do |booking, index|%>
  <div class="col s12 m4 l4">
    <div class="card medium">
      <div class="card-image">
        <%= image_tag booking.event.image_url(:landing) %>
        <span class="card-title card-panel red darken-3 "><%=booking.event.title %></span>
      </div>
      <div class="card-action">
        <%= link_to content_tag(:i, "", class: "fa fa-floppy-o") + "Download All", download_path(booking.id), {class: "grey-text left", target: "_blank"}%>
      </div>
    </div>
  </div>
  <% end %>
</div>
