<!-- START CONTENT -->
<section id="content" >

  <!--start container-->
  <div class="our-modified-container container" id ="hel">
    <div class="row center">
      <div class="col l8 m8 s12 offset-l3 offset-m2">
        <form class="">
          <div class="input-field col l6 m6 s8"><i class="material-icons prefix">search</i><input class="" type="url" placeholder="Search By Event Name"></div>
          <div class="input-field col l2 m2 s4"><input class="btn" type="submit" value="Search"></div>
        </form>
      </div>
    </div>
    <label>
      Results: 36 events
    </label>
    <table class="centered striped">
      <thead>
      <tr>
        <th data-field="id">Name</th>
        <th data-field="name">Location</th>
        <th data-field="price">Date</th>
        <th data-field="price">Status</th>
        <th data-field="price"></th>
      </tr>
      </thead>

      <tbody>
      <% 36.times do |n| %>
      <tr>
        <td>Ladies Night Out</td>
        <td>Yaba Lagos</td>
        <td>24-04-2016</td>
        <td>Opened</td>
        <td><a href="" class="dropdown-button btn-floating btn waves-effect waves-light transparent z-depth-0" data-activates="dropdown-<%= "#{n}" %>"><i class="fa fa-ellipsis-v" style="color: black;" ></i></a></td>
        <ul class="dropdown-content" id="dropdown-<%= "#{n}" %>">
          <li><a class="our-dropdown-content" href="">Edit Event</a></li>
          <li><a class="our-dropdown-content" href="">Disable Event</a></li>
          <li><a class="our-dropdown-content" href="">View Event</a></li>
          <li><a class="our-dropdown-content" href="">View Ticket</a></li>
        </ul>
      </tr>
      <% end %>
      </tbody>
    </table>
    <a class="btn-floating btn-large waves-effect waves-light teal" style="position: fixed; bottom: 25px; right: 50px;" href="<%= events_new_path%>"><i class="material-icons">add</i></a>
    </div>
    <!--end container-->
</section>
<!-- END CONTENT -->
