<div class="row">
  <div class="dashboard-search">
    <h5 class="col 12"> Manage Staff </h5>
  </div>
</div>
<% disable_create = false unless disable_create %>
<% disable_delete = false unless disable_delete %>
<% #binding.pry %>
<div class="wrapper">
  <div class="staff">
    <ul class="collection with-header">
      <% @event.event_staffs.each do |staff| %>
        <%= render "manager_profiles/event_staffs", staff: staff, disable_delete: disable_delete %>
      <% end %>
    </ul>
  </div>
  <% unless disable_create %>
  <section id="content" >
    <%= form_tag do |f| %>
      <div class="col s12">
        <div class="container">
          <div class="row">
            <div class="text-field col s3">
              <%= select_tag(:role, options_for_select(@roles))%>
            </div>
            <div class="input-field col offset-s1 s5">
              <input type="text" id = "ent_staff_email" class= "add_staff_field" placeholder="Enter staff email"/>
              <input type="hidden" id = "staff_id" name = "user_id" />
            </div>
            <div class="input-field col s3">
              <%= button_tag  "Submit", id: "save_staff",
              class: "btn waves-effect waves-light home_button center z-depth-0",
                url: :save_staffs_path %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>
  <% end %>
</div>
