<div class="col s12" id="<%= text_id %>">
  <div class="content-set">
    <div class="row scrollblock" id="<%= example_id %>">
      <div class="row col l12 s12 m12">
        <div class="center" style="height: inherit; width: inherit; padding: 15%;">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-yellow-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
            </div>
          </div>
        </div>
        <div class="center">
          <% unless @events.count < 12 %>
              <%= link_to "SEE MORE", events_path, class: "btn-large z-depth-0 our-search-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
