<!-- Modal Structure -->
  <div id="login_modal" class="modal">
    <div class="modal-content">
      <h4>Sign In</h4>
      <p>Options for Sign In</p>
    </div>
    <div class="modal-footer">
      <!-- <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a> -->
    </div>
  </div>
