<!-- Modal Structure -->
<div class="modal" id="login_modal">
  <div class="modal-content row">
    <!-- <h4></h4> -->
    <p>
      Get started with your event; Sign in with:
    </p>
<!-- <p>Options for Sign In</p> -->
    <div class="col l4 m4 offset-l1 offset-m1 s8 offset-s2 sso_option">
      <a href="/auth/facebook" class="waves-effect waves-light btn blue darken-4">
        <i class="fa fa-facebook left"></i>Facebook</a>
    </div>
    <div class="col l4 m4 offset-l1 offset-m1 s8 offset-s2 sso_option">
      <a href="/auth/twitter" class="waves-effect waves-light btn blue">
        <i class="fa fa-twitter left"></i>Twitter</a>
    </div>
    <div class="col l4 m4 offset-l1 offset-m1 s8 offset-s2 sso_option">
      <a href="/auth/google_oauth2" class="waves-effect waves-light btn red darken-4">
        <i class="fa fa-google-plus left"></i>Google</a>
    </div>
    <div class="col l4 m4 offset-l1 offset-m1 s8 offset-s2 sso_option">
      <a href="/auth/linkedin" class="waves-effect waves-light btn">
        <i class="fa fa-linkedin left"></i>LinkedIn</a>
    </div>
    <div class="col l4 m4 offset-l1 offset-m1 s8 offset-s2 sso_option">
      <a href="/" class="waves-effect waves-light btn grey darken-4">
        <i class="fa fa-github left"></i>GitHub</a>
    </div>
  </div>
</div>
