<div class="col s12 m6 l4">
  <div class="profile-card">
    <div class="card-image">
      <%= image_tag image %>
      <div class="feature-details">
        <div class="feature-title">
          <%= name %>
        </div>
        <div class="feature-content">
          <p><%= role %></p>
        </div>
      </div>
    </div>
  </div>
</div>