  <form action="<%= root_path %>" class="form-header col l12 m12 s9 centralize">
    <div class="row">
      <div class="col l3 m8 s7 input-field">
        <i class="material-icons prefix white_text">search</i>
        <input class="validate white_text white_underline" id="icon_prefix" name="event_name" type="text">
        <label class="white_text" for="icon_prefix">Search Event</label>
      </div>
      <div class="col l3 m3 s12 input-field hide-on-med-and-down">
        <i class="fa fa-map-marker prefix white_text"></i>
        <input class="validate white_text white_underline" id="icon_location" name="event_location" type="text">
        <label class="white_text" for="icon_location">Location</label>
      </div>
      <div class="col l3 m3 s12 input-field white_text hide-on-med-and-down">
        <i class="when_icon fa fa-calendar prefix white_text"></i>
          <select name="event_date" class="browser-default">
            <option disabled selected value="">When?</option>
            <option value="1">Today</option>
            <option value="2">Tomorrow</option>
            <option value="3">This week</option>
            <option value="4">This weekend</option>
            <option value="5">Next week</option>
            <option value="6">Next weekend</option>
          </select>
      </div>

      <div class="col l3 m4 s3 input-field last-field">
        <button class="btn waves-effect waves-light white darken-2 black_text our-search-btn" name="action" type="submit">
          Search
        </button>
      </div>
    </div>
  </form>
