<%= render partial: "layouts/nav" %>


<div class="about-top">
  <div class="about-us-text">
    <h2 class="about-us-header">About EventX</h2>
    <div class="about-us-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputa
      te commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia
      ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna
      . Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales
      nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper
      at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
    </div>
  </div>
</div>
<div class="right-left-triangle">
  <div class="left-triangle">
  </div>
  <div class="right-triangle">
  </div>
</div>
<div class="about">
  <div class="about-content">
    ewuiwdi.edknld
    sydksjkds
    idksjds
    wehewkj
  </div>
</div>

<div class="about-stats group">
  <div class="col s12 m6 l3 no-margin">
  <div class="card-panel teal milestones">
    <div class="white-text stats-large">100k <i class="fa fa-users fa-lg right" aria-hidden="true"></i></div>
    <p class="card-title white-text">Number of Attendees</p>
  </div>
</div>
<div class="col s12 m6 l3 no-margin">
  <div class="card-panel red milestones">
    <div class="white-text stats-large">$20m <i class="fa fa-ticket fa-lg right" aria-hidden="true"></i></div>
    <p class="card-title white-text">Tickets Sold</p>
  </div>
</div>
<div class="col s12 m6 l3 no-margin">
  <div class="card-panel blue milestones">
    <div class="white-text stats-large">50k  <i class="fa fa-calendar-check-o fa-lg right" aria-hidden="true"></i></div>
    <p class="card-title white-text">Number of Events</p>
  </div>
</div>
<div class="col s12 m6 l3 no-margin">
  <div class="card-panel black milestones lighten-3">
    <div class="white-text stats-large">70  <i class="fa fa-briefcase fa-lg right" aria-hidden="true"></i></div>
    <p class="card-title white-text">Number of Sponsors</p>
  </div>
</div>
</div>
