<div class="container">

  <div class="comment" id="comment" style="display:none;">
    <div class="comment-author">
      <img src="" alt="" class="comment-author-pic circle responsive-img"/>
    </div>

    <div class="comment-content">
      <div class="comment-header">
        <h5 class="comment-author-name"></h5>
      </div>
      <div class="comment-content-body" id="commentBodyContent"></div>
    </div>
  </div>

  <div class="row">
    <form class="addCommentForm">
      <div class="row">

        <div class="col l9">
          <div class="input-field col s12">
            <textarea name="body" class="commentBody materialize-textarea" placeholder="Add Comment" required="true"></textarea>
          </div>

          <input type="hidden" name="user_id" value="<%= current_user.id %>" class="commenterId">
          <input type="hidden" name="event_id" value="<%= @event.id %>" class="commentEventId">
          <input type="hidden" name="review_id" value="<%= review.id %>" class="commentReviewId">
          <%= review.id %>
        </div>

        <div class="col l3">
          <div class="submit-review-button">
            <input type="submit" name="add_comment" value="Add Comment" class="btn kay-btn">
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
