<div id="test2" class="row">
  <form class="col s12 event_border">
    <div class="row create_form ">
      <div class="input-field col s8 offset-s2">
        <span class="col s1 domain">http://</span>
        <div class="col s5">

          <input placeholder="eventname" id="event_title" type="text" class="validate">
          <label for="first_name">Enter Domain</label>
        </div>
        <span class="col s2 domain">.eventx.com</span>
      </div>

    </div>

    <div class="divider"></div>

    <div class="row create_form">
      <div class="input-field col s8 offset-s2">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Event Academy</option>
          <option value="2">Classes</option>
          <option value="3">Conferences</option>
          <option value="3">Endurance Events</option>
          <option value="3">Food & Wine</option>
          <option value="3">Music Festivals</option>
        </select>
        <label>Select Category</label>
      </div>
    </div>

    <div class="divider"></div>

    <div class="row create_form">
      <div class="input-field col s8 offset-s2 create_form">
          <label>Select theme</label>
          <div class="temps">
            <% (1..12).each do |i|%>
                <span  class="col s6 m3 center temp_image">
                 <input type="radio" id=<%= i %> name="group1"/>
                 <label for=<%= i %>><%= image_tag "temp#{i}.png"%> </label>
                </span>
            <% end %>
          </div>
        </div>
      </div>

    <div class="divider"></div>

  </form>
</div>