<div id="test1" class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6 offset-s3">
        <input placeholder="Placeholder" id="event_title" type="text" class="validate">
        <label for="first_name">Event Title</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
  </form>
</div>