<div class="footer-copyright">
  <div class="container">
  <%= link_to "Next <i class='fa fa-hand-o-right'></i>".html_safe, "#", class: "right grey-text text-lighten-4", id:'btn_booking' %>
  <%= link_to "Previous <i class='fa fa-hand-o-left'></i>".html_safe, "#", class: "left grey-text text-lighten-4", id:'btn_previous' %>
  </div>
</div>