<div class="footer-copyright">
  <div class="container" id="form-footer">
  <%= link_to "Next <i class='fa fa-hand-o-right'></i>".html_safe, "#", class: "right grey-text text-lighten-4 big_next", id:'btn_booking' %>
  <%= link_to "<i class='fa fa-hand-o-left'></i> Previous".html_safe, "#", class: "left grey-text text-lighten-4 big_next", id:'btn_previous' %>
  <%= link_to "Save <i class='fa fa-floppy-o'></i>".html_safe, "#", class: "right grey-text text-lighten-4 big_next", id:'saved_events' %>
  </div>
</div>