<div class="row", id="preview_template">
  <div class="col s6 offset-s2">
    <div class="card large padit">
      <div class="card-info">
      <h3 class="event_headers upper"> Preview Event </h3>
        <div class="col s12" id="preview">
          <div class="" id="preview-event-div" style="width: 80%; height: 500px; margin: 0 auto 5% auto; overflow: auto;">
            <% @current_page = "new" %>
            <%= render "event_details" %>
          </div>
          <div>&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>
