<div class="row">
  <div class="col s10 l6 offset-l2 offset-s2 white center recurring-event display-none">

    <div>
      <label>How often does this event occur?</label>
    </div>
    <div class="col s6 m6 l6 offset-l3">
      <select name="frequency" id="frequency">
        <option value="Daily">Daily</option>
        <option value="Weekly">Weekly</option>
        <option value="Monthly">Monthly</option>
      </select>
    </div>
    <div class="input-field col s12">
      <select multiple class="week-frequency display-none">
        <option value="" disabled selected>Choose the days</option>
        <option value="Sunday">Sunday</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
      </select>
    </div>
    <div class="col s12">
      <div class="col s4">
        <button class="btn btn-circle" type="button" name="action">Add</button>
      </div>
      <div class="col s4">
        <button class="btn waves-effect waves-light" type="button" name="action">Cancel</button>
      </div>
    </div>

  </div>
</div>