<div id="addResponseModal" class="add-response-modal">
    <div class="modal-content">

        <div class="row review-form" id="responseForm" >

            <form class="" id="addResponseForm">
                <div class="row">

                    <div class="col l9 review-field">
                        <div class="input-field col s12">
                            <textarea id="responseBody" name="review[body]" class="materialize-textarea" placeholder="Add Review" required="true"></textarea>
                        </div>
                    </div>

                    <div class="submit-review-button">
                        <input type="submit" name="add_response" value="Add Response" class="btn add-response-button" id="addResponse">
                    </div>

                </div>
            </form>
        </div>

    </div>
</div>
