<div class="row review-form">
  <form class="" id="addReviewForm">
    <div class="row">
      <div class="col l8 review-field">
        <div class="input-field col s12">
            <textarea id="reviewBody" name="review[body]" class="materialize-textarea" placeholder="Review this event" required="true"></textarea>
        </div>
        <input type="hidden" name="event_id" value="<%= @event.id%>" id="reviewEventId">
        <input type="hidden" name="user_id" value="<%= current_user.id %>" id="reviewerId">
      </div>
      <div class="col l4 rating-field">
        <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3" name="rating_3" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
        </fieldset>
        <div class="submit-review-button">
          <input type="submit" name="add_review" value="Add Review" class="btn" id="addReview">
        </div>
      </div>
    </div>
  </form>
</div>
