<div class="row", id="template">
  <div class="col s6 offset-s2">
    <div class="card large padit">
    <h3 class="event_headers"> Select a Template </h3>
      <div class="card-info">
        <div class="row category-selected">
          <div class="row radio-select">
            <div class="input-field col s10">
              <div class="temps">
                <% all_template.each do |i|%>
                <span class="col s6 m3 center temp_image">
                  <input id="<%= i.name %>" name="event[event_template_id]" type="radio" value="<%= i.id %>"/>
                  <label for="<%= i.name %>">
                    <%= image_tag "#{i.image}" %>
                  </label>
                </span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



