<div class="row col s12 nested-fields " id="paid_ticket_div" >
  <div class="input-field col s5">
    <i class="fa fa-user prefix icon-setting"></i>
    <%= f.text_field :email, placeholder: "Staff Email" %>
  </div>
  <div class="col s2 closecocoon">
    <%= link_to_remove_association "x", f, class: "btn-floating btn waves-effect waves-light red"  %>
  </div>
</div>
