<div class="row col s12" id="" >
  <div class="input-field col s5">
    <i class="fa fa-user prefix icon-setting"></i>
    <input type="text" class= "add_staff_field" placeholder="Enter staff email"/>
  </div>
</div>
