<div id="subscribe" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Subscribe</h4>
    <%=  form_for @sub, url: subscriptions_path, remote: true do |f| %>
      <p>
        <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked"/>
        <label for="filled-in-box">Subscribe to Event</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" id="filled-inbox" checked="checked"/>
        <label for="filled-in-box">Subscribe to Event Manager</label>
      </p>
    <% end %>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
  </div>
</div>
