<div id="ticket-area">
  <div class="row ">
    <div class="input-field col s4 offset-s1">
      <a class="waves-effect waves-light btn" id="free_ticket_btn">
        <i class="material-icons left">add</i>Create Free Tickets</a>
    </div>
    <div class="input-field col s4 offset-s1">
      <a class="waves-effect waves-light btn" id="paid_ticket_btn">
        <i class="material-icons left">add</i>Create Paid Tickets</a>
    </div>
  </div>
  <div class="row col s12 ticket" id="paid_ticket_div">
    <div class="input-field col s5">
      <i class="fa prefix icon-setting"></i>
      <label>Paid Ticket Title</label>
      <input placeholder="Ticket Title" type="text">

    </div>
    <div class="input-field col s2">
      <label>Quantity</label>
      <input placeholder="100" type="text">
    </div>
    <div class="input-field col s2">
      <label>Price</label>
      <input placeholder="$10.00" type="text">
    </div>
    <div class="input-field col s1">
      <a class="btn-floating btn-large waves-effect waves-light teal" id="close_paid">
        <i class="material-icons">clear</i>
      </a>
    </div>
  </div>
  <div class="row col s12 ticket" id="free_ticket_div">
    <div class="input-field col s6">
      <i class="fa prefix icon-setting"></i>
      <label>Free Ticket Title</label>
      <input placeholder="Ticket Title" type="text">
    </div>
    <div class="input-field col s3">
      <label>Quantity</label>
      <input placeholder="100" type="text">
    </div>
    <div class="input-field col s1">
      <a class="btn-floating btn-large waves-effect waves-light teal" id="close_free">
        <i class="material-icons">clear</i>
      </a>
    </div>
  </div>
</div>