<% @event_ticket.each do |ticket|%>
<p>
  <div class="col l8 m8">
    <div class="col m5">
      <%#= f.check_box ticket.name %>
      <%= check_box 'user_ticket', ticket.name %>
      <%= label 'user_ticket', ticket.name %>
    </div>
    <div class="col m7">
      <%= number_field "user_ticket[#{ticket.name}]", 'quantity', class: "event_ticket_input" %>
    </div>
  </div>
</p>
<% end %>
