<div class="col s12" id="create_event">
<!-- Customize Event -->

  <%= #render partial: 'events/create_event1' %>

  <div class="row create_form">
    <div class="input-field col s8 offset-s2">
      <i class="fa fa-pencil prefix"></i>
      <input class="validate" id="event_title" type="text">
      <label for="first_name">Event Title</label>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row create_form">
    <div class="input-field col s8 offset-s2">
      <i class="fa fa-map-marker prefix"></i>
      <input class="validate" id="location" type="text">
      <label for="location">Location</label>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row create_form">
    <div class="input-field col s4 offset-s2">
      <i class="fa fa-calendar prefix"></i>
      <input class="datepicker" id="start_date" type="date">
      <label for="start_date">Start Date</label>
    </div>
    <div class="input-field col s4">
      <i class="fa fa-calendar prefix"></i>
      <input class="datepicker" id="end_date" type="date">
      <label for="end_date">End Date</label>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row create_form">
    <div class="input-field col s8 offset-s2">
      <i class="fa fa-youtube prefix"></i>
      <input class="validate" id="url" type="url">
      <label for="url">Youtube link</label>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row create_form">
    <div class="input-field col s8 offset-s2">
      <i class="fa fa-pencil-square-o prefix"></i>
      <textarea class="materialize-textarea" id="textarea1" length="1000" maxlength="1000"></textarea>
      <label for="textarea1">Description</label>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row create_form">
    <div class="input-field col s10 offset-s2">
      <i class="fa fa-ticket prefix" id="ticket_icon"></i>
      <label >Create Tickets</label>
      <br><br>
    </div>
  </div>

  <div class="row ">
    <div class="input-field col s3 offset-s2">
      <a class="waves-effect waves-light btn-large" id="free_ticket_btn">
        <i class="material-icons left">add</i>Create Free Tickets</a>
    </div>
    <div class="input-field col s3 offset-s2">
      <a class="waves-effect waves-light btn-large" id="paid_ticket_btn">
        <i class="material-icons left">add</i>Create Paid Tickets</a>
    </div>
  </div>

  <div class="row " id="paid_ticket_div" style="display: none;">
    <div class="input-field col s4 offset-s2">
      <input class="validate" id="ticket_category" type="text">
      <label for="ticket_category">Ticket Title</label>
    </div>
    <div class="input-field col s2">
      <input class="validate" id="ticket_category" type="number">
      <label for="ticket_category">Quantity</label>
    </div>
    <div class="input-field col s2">
      <input class="validate" id="ticket_category" type="number">
      <label for="ticket_category">Price</label>
    </div>
    <div class="input-field col s1">
      <a class="btn-floating btn-large waves-effect waves-light teal" id="close_paid">
        <i class="material-icons">clear</i>
      </a>
    </div>
  </div>

  <div class="row " id="free_ticket_div" style="display: none ">
    <div class="input-field col s4 offset-s2">
      <input class="validate" id="ticket_category" type="text">
      <label for="ticket_category">Ticket Title</label>
    </div>
    <div class="input-field col s2">
      <input class="validate" id="ticket_category" type="number">
      <label for="ticket_category">Quantity</label>
    </div>
    <div class="input-field col s1">
      <a class="btn-floating btn-large waves-effect waves-light teal" id="close_free">
        <i class="material-icons">clear</i>
      </a>
    </div>
  </div>

</div>