<div class = "contanier remitbg">
  <div class="row">
    <div class="col s7 offset-s5"><span class="flow-text"><strong>Event Notice</strong></span></div>
    <div class="col s7 offset-s5">Hello <strong><%= @user.first_name %></strong></div>
    <div class="col s9 offset-s3">Your have successfully set reminder count down for the <strong><%= @event.title %> event </strong></div>
    <div class="col s9 offset-s3">Your event <strong><%= @event.title %> </strong>starts in three days from now</div>
    <div class="col s7 offset-s5"><%= link_to "Back to events", dashboard_path, class: "waves-effect waves-light btn custon" %></div>
  </div>
</div>