<h1 class="loadrr"></h1>
<div class="center" style="height: inherit; width: inherit; padding: 15%;">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
    </div>
  </div>
</div>
<script>
    $('input').change(function(){
//        window.eventData.title = $(this).val()
        alert(window.eventData);
    })
//    setTimeout(function(){
//        alert(window.eventData.title);
//    }, 4000)
</script>