

<div class="create_header_background">
  <div class="creat-overlay">
  <%= render partial: "layouts/nav" %>
   <div class="container">
     <h2 class="center">Start your Event Experience </h2>
     <p class="center">Create it, Preview it, Publish it!</p>
   </div>
 </div>
</div>

<div class="row" id="create_background">

  <div class="event-section row remove-margin">
    <div class="col s12" style="padding: 0px 0px">
      <ul class="tabs">
        <li class="tab col s3">
          <a class="active" href="#test1"><i class="fa fa-plus"></i> Create</a>
        </li>
        <li class="tab col s3">
          <a href="#test2"><i class="fa fa-search"></i> Preview</a>
        </li>
        <li class="tab col s3">
          <a href="#test3"><i class="fa fa-globe"></i> Publish</a>
        </li>
      </ul>
    </div>
    <div class="col s12" id="test1">
     <div class="container margin-down">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Placeholder" id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input disabled value="I am not editable" id="disabled" type="text" class="validate">
              <label for="disabled">Disabled</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
        </form>
      </div>
       </div>
    </div>

  </div>
  <div class="col s12" id="test2">Test 2</div>
  <div class="col s12" id="test3">Test 3</div>
</div>

