<div class="create_header_background">
  <div class="creat-overlay">
    <%= render "layouts/nav" %>
    <div class="container">
      <h2 class="center">Start your Event Experience
      </h2>
      <p class="center">Create it, Preview it, Publish it!</p>
    </div>
  </div>
</div>

  <%= render "create_event_card" %>
  <%= render "preview_event" %>
<%= render "events/form" %>
