<div class="row">
  <div class="col s12">
    <h3 class="center">Create Events</h3>
    <ul class="tabs">
      <li class="tab col s3"><a href="#test1">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#000000" d="M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
        </svg>
        </a></li>
      <li class="tab col s3"><a href="#test2" class="active">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#000000" d="M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
        </svg>
        </a></li>

      <li class="tab col s3"><a href="#test3"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#000000" d="M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
      </svg>
       </a></li>
    </ul>
  </div>




  <!--<div id="test1" class="col s12 event_border">Hello World</div>-->
  <%= render partial: 'create_event1' %>
  <%= render partial: 'create_event2' %>



  <div id="test3" class="col s12">Test 3</div>
</div>