

<div class="create_header_background">
  <div class="creat-overlay">
  <%= render partial: "layouts/nav" %>
   <div class="container">
     <h2 class="center">Start your Event Experience </h2>
     <p class="center">Create it, Preview it, Publish it!</p>
   </div>
 </div>
</div>

<div class="row" id="create_background">

  <div class="event-section row remove-margin">
    <div class="col s12" style="padding: 0px 0px">
      <ul class="tabs">
        <li class="tab col s3">
          <a class="active our-tab2-color" href="#test1"><i class="fa fa-plus"></i> Create</a>
        </li>
        <li class="tab col s3">
          <a href="#test2" class="our-tab2-color"><i class="fa fa-search "></i> Preview</a>
        </li>
        <li class="tab col s3">
          <a href="#test3" class="our-tab2-color"><i class="fa fa-globe "></i> Publish</a>
        </li>
      </ul>
    </div>
    <div class="col s12" id="test1">

    </div>

  </div>
  <div class="col s12" id="test2">Test 2</div>
  <div class="col s12" id="test3">Test 3</div>
</div>

