

 <% content_for :show do %>
     <!-- <li><a href="#top">Home</a></li> -->
     <li><a href="#">About</a></li>
     <li><a href="#">Schedule</a></li>
     <li><a href="#">Attendee</a></li>
     <li><a href="#">Venue</a></li>
 <% end%>

 <%= render partial: 'eventdetails' %>
