<div class="row">
  <div class="dashboard-search">
    <h5 class="col 12">Sponsors</h5>
  </div>
</div>

<div class="event-sponsors-main center">
  <div id="right">
    <div class="row">
      <div class="col l6">
        <%= can_add_event_sponsor %>
      </div>
    </div>
    <%= render partial: "sponsors/event_sponsors" %>
  </div>
</div>
<div id="toast"></div>
<%= render partial: "sponsors/sponsor_modal" %>
