<div class="row">
  <div class="dashboard-search">
    <h5 class="col 12"><i class="fa fa-credit-card fa-lg" aria-hidden="true"></i> All Sponsors <small>(<%= @event.title%>)</small></h5>
  </div>
</div>

<div class="event-sponsors-main center">
  <div id="right">
    <div class="row">
      <div class="col l6">
        <% if can? :create, Sponsor, event_id: @event.id %>
          <%= can_add_event_sponsor %>
        <% end %>
      </div>
    </div>
    <%= render partial: "sponsors/event_sponsors" %>
  </div>
</div>
<div id="toast"></div>
<%= render partial: "sponsors/sponsor_modal" %>
