<div class="card-action manage-sponsor">
  <%= link_to "Edit", edit_event_eventsponsor_path(@event.id, sponsor.id), class: "btn", remote: true, id: "addSponsor"%>
  <%= link_to "Delete", event_eventsponsor_path(@event.id, sponsor.id), method: :delete, class: "btn", remote: true, data: {confirm: "Are you sure"}%>
</div>
