// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white-color: #000;
$font-family: 'Roboto', sans-serif !important;

.margin-down{
  margin-top: 50px;
  padding-bottom: 20px;
  input, select{
    outline: none;
    margin-top: 10px;
    padding: 5px;
    &:focus{
      outline: none !important;
      border-bottom-color:  #CCCCCC !important;
    }
  }
  label{
    color: #000000;
    margin-bottom: 15px !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: small;
    span{
      color: red;
    }
  }

  textarea{
    &:focus{
      outline: none !important;
    }
  }
  i.icon-setting{
    margin-top: 20px;
    color: #969CA7 !important;
  }
}

.location_form_padding{
  input{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px;
    padding-left: 5px;
  }
  select .browser-default, #event_category_id{
    border: 1px solid #CCCCCC !important;
    border-radius: 0px !important;
    width: 90%;
    color: $white-color; //!important;
    -webkit-appearance: none;
    margin-left: 13%;
    margin-right: auto;
    padding: 10px;
  }
}

.file-uploader{
  border: 1px solid #CCCCCC;
  background-color: #ffffff;
  left: 20%;
  .inner-file-upload{
    margin: 5%;
    padding: 15%;
    border: 2px dashed #CCCCCC;
  }
  input{
    display: none;
  }
   p {
    text-align: center;
    position: absolute;
    top: 15%;
    left: 34%;
    font-weight: bolder;
     text-transform: uppercase;
  }
}

.row.ticket{
  display: none;
}

.setup {
  position: absolute;
  top: 10px;
  color: white;
  background-color: #969CA7;
  padding: 17px;
}

.category-select{
  position: relative;
  width: 100%;
  select{
     border: 1px solid #CCCCCC !important;
     border-radius: 0px !important;
     width: 100%;
    -webkit-appearance: none;    margin-left: 5%;
    padding-left: 5px !important;
  }
  label{
    padding-left: 5%;
  }
}

.radio-select{
  label{
    padding-left: 7%;
  }
}

.map-area{
  text-align: center;
  padding: 20%;
}

.our-map{
  width: 79.33333% !important;
  margin-left: 47px !important;
}

input#event_photo_upload{
  display: none;
}

@media only screen and (min-width: 993px) {
  .our-sidebar-for-eventshow.l9 {
    padding-left: 240px !important;
    width: 100% !important;
    margin-left: 0px;
  }
}

.our-label{
  border-bottom: solid thin black;
}

.pre-our-label{
  background-color: #00BCD4;
}

.ticket{
  margin-left:4.2rem;
}

#frame {
  -ms-zoom: 0.85;
  -moz-transform: scale(0.85);
  -o-transform: scale(0.85);
  -webkit-transform: scale(0.85);
  display:block;
  margin-top: 20px !important;
  margin-bottom: 0px !important;
}

#popular {
  margin-left: 0px !important;
}

::-webkit-input-placeholder {
  color: rgba(101,104,109,0.8);
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(101,104,109,0.8);
}

::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(101,104,109,0.8);
}

:-ms-input-placeholder {
  color: rgba(101,104,109,0.8);
}

.card-image{
 img {-webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease;
  -ms-transition:     all 0.3s ease;
  transition:         all 0.3s ease;}
  img:hover{
    transform: scale(1.1);
  }
}

.card-content  {
  span{
    color:  rgba(28, 28, 28, 0.6) !important;
    font-family: $font-family;
  }
  a{
    color: #a1a1a1 !important;
    font-family: $font-family;
    font-size: large;
    font-weight: bolder;
  }
}

.our_parallax{
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center;
  position: relative;
  padding: 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
  height: 100%;
  width: 100%;
  margin-top: 0px;
}

.our-event-title{
  padding-top: 20% !important;
  font-size: 64px;
  color: white;
  font-family: $font-family;
  font-weight: 400
}

.our_description_title{
  font-size: 30px;
}

.our_event_description{
  font-size: 21px;
  word-wrap: break-word;
}

.description{
  color: #5c5c5c;
  margin: 5% 0;
}

#venue{
  position: relative;
  width: 100%;
  height: 70%;
  padding: 0px !important;
  margin: 0px !important;
}


.map-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn-large.home_button{
  margin-bottom: 20px;
}

.event_staffs{
  margin-left: 8%;
  margin-top: 3%;
}

.add_staff_field{
  border-radius: 0px;
  background: #fff;
  border: 1px solid #454545;
  height: 0 0 30px;
}
.ui-autocomplete {
    background: #eeeeee;
    padding: 15px 30px 15px 30px;
    width: 50px;
    cursor: pointer;
    box-shadow: 0 0 3px #444;
}

.staff_role{
  margin-top: 35px;
}
.staff_add_btn{
  margin-top: 42px;
}

#subscribe {
  width: 30%;
  height: 200px;
}

.subscribe-button {
  margin: 10px;
}

#bookings_table_length, #bookings_table_filter{
  width: 50%;
  display: inline-block;
  .select-wrapper {
    display: inline-block;
    width: 20%;
    input{
      border: 0px;
    }
  }
  label{
    font-size: 16px;
    margin-top: 50px;
    top: 20px;
    padding-left: 50px;
  }
  .caret{
    display: none;
  }
}

#bookings_table_filter{
  text-align: right;
  input{
    display: inline-block;
    width: 50%;
  }
}

#bookings_table_info, #bookings_table_paginate{
  display: inline-block;
  width: 50%;
}

#bookings_table_paginate{
  text-align: right;
  span{
    font-size: 20px;
  }
}
[type="radio"] + label:before{
  display: none;
}

[type="radio"]:checked + label:after {
  position: absolute;
  top: 7px;
  left: 50px;
  border-radius: 0px;
  display: block;
  width: 12px;
  height: 30px;
  border: solid #fff;
  border-width: 0 5px 5px 0;
  background: transparent;
  transform: rotate(45deg);
}

.temp_image label img {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  margin: 0px;
  padding: 0px;
}

.calender-link{
  font-size: 20px;
  font-family: $font-family;
  text-transform: uppercase;
}

.milestones{
  opacity: 0.8;
  .stats-large{
    font-size: 35px;
    font-weight: lighter;
    margin: 0px;
  }
  .card-title{
    margin: 0px;
    font-weight: lighter;
  }
  i{
    top: 20px;
    position: relative;
  }
}

.milestones:hover{
  opacity: 1;
  box-shadow: none;
}

.dashboard-container{
  margin: 70px 20px 20px 20px;
  font-size: 12px;
}

.dashboard-icon{
  top: 15px;
  position: relative;
}

.dashboard-reports{
  background-color: teal;
  border-bottom: 1px solid white;
  a{
    color: white;
  }
}

.dashboard-reports:hover{
  opacity: 0.9;
}

.no-margin{
  margin: 0px !important;
}

.no-border{
  border: none !important;
}

.dashboard-avatar{
  position: relative;
  top: 20px;
  left: 20px;
}

.dashboard-name{
  font-weight: lighter;
  position: absolute;
  width: 100%;
  padding: 20px;
  bottom: 0px;
  background-color: rgba(10, 10, 10, 0.3);
  color: white;
}

.collection-item i {
  font-size: 16px;
  margin: 15px;
}

.dashboard-pagination{
  margin: 15px;
}
