// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.margin-down{
  overflow: hidden;
  margin-top: 50px;
  input, select{
    border: 1px solid #CCCCCC;
    background-color: #ffffff;
    outline: none;
    margin-top: 10px;
    padding: 5px;
    &:focus{
      outline: none !important;
      border-bottom-color:  #CCCCCC !important;
    }
  }
  label{
    color: #000000;
    margin-bottom: 15px !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: small;
    span{
      color: red;
    }
  }

  textarea{
    height: inherit;
    background-color: white;
    border: 1px solid #CCCCCC;
    &:focus{
      outline: none !important;
    }
  }

  i.icon-setting{
    margin-top: 20px;
    color: #969CA7 !important;
  }
}


.location_form_padding{
  input{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px;
    padding-left: 5px;
  }
  select{
    border: 1px solid #CCCCCC !important;
    border-radius: 0px !important;
    width: 90%;
    -webkit-appearance: none;
    display: block;
    margin-left: 13%;
    margin-right: auto;
    padding: 10px;
    //padding: 5px;
  }
}

.file-uploader{
  border: 1px solid #CCCCCC;
  background-color: #ffffff;
  // padding: 30px;
  left: 20%;
  // position: relative;
  .inner-file-upload{
    // height: 50px;
    margin: 5%;
    padding: 15%;
    border: 2px dashed #CCCCCC;
  }
  input{
    display: none;
  }
   p {
    text-align: center;
    position: absolute;
    top: 15%;
    left: 34%;
    font-weight: bolder;
     text-transform: uppercase;
  }
}

.row.ticket{
  display: none;
}

.setup {
  padding-left: 26px;
  position: absolute;
  top: 10px;
  color: white;
  background-color: #969CA7;
  padding: 17px;

}
.setting-form{

}

.category-select{
  position: relative;
  width: 100%;
  select{
     border: 1px solid #CCCCCC !important;
     border-radius: 0px !important;
     width: 100%;
    -webkit-appearance: none;
    display: block;
    margin-left: 5%;
    padding-left: 5px !important;
  }
  label{
    padding-left: 5%;
  }
}

.radio-select{
  label{
    padding-left: 7%;
  }
}


.map-area{
  margin-top: 4%;
  height: 365px;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 40% 20%;
}

@media only screen and (min-width: 993px) {
  .our-sidebar-for-eventshow.l9 {
    padding-left: 240px !important;
    width: 100% !important;
    margin-left: 0px;
  }
}
