//navbar costomisation
@import "font-awesome-sprockets";
@import "font-awesome";


.navbar-default {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,0.05);
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.05);
  padding: 15px 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #FFF;
  background-color: #4eae49;
  border-radius: 4px;
  font-size: 13px;
}

.navbar-default .navbar-nav>li>a {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}

body {
  font-family: 'Open Sans',Arial,sans-serif !important;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  position: relative;
  color: #5c5c5c;
}


.header{
  background: #377A33;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 0;
  color: #FFF;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  height: 800px;
  width: inherit;
}

.description{
  background: #f1f1f1;
  padding: 30px 0;

}


.atcb-link {
  margin: 0;
  padding: 7px 25px;
  color: #8C8C8C;
  border: solid 2px #CACACA;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  line-height: 20px;
  vertical-align: middle;
  background: transparent;
  border-radius: 3px;
  text-transform: uppercase;
  zoom: 1;
  display: inline-block;
  outline: none!important;
  cursor: pointer;
  &:hover{
    text-decoration: none;
    color: #8C8C8C;
    border-color: #377A33;
  }
  &:active{
    text-decoration: none;
    color: #8C8C8C;
    border-color: #377A33;
  }
  &:visited{
    text-decoration: none;
    color: #8C8C8C;
    border-color: #377A33;
  }
}

#attendee {
  height: 400px;
  h4 {
    font-size: 30px;
    font-weight: 700 !important;
    text-align: center;
    margin-top: 80px;
    text-transform: uppercase;
  }
  .recent_attendees{

  }
}
























  /* carousel */
  .media-carousel
  {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
  }
  /* Previous button  */
  .media-carousel .carousel-control.left
  {
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
  }
  /* Next button  */
  .media-carousel .carousel-control.right
  {
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
  }
  /* Changes the position of the indicators */
  .media-carousel .carousel-indicators
  {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
  }
  /* Changes the colour of the indicators */
  .media-carousel .carousel-indicators li
  {
    background: #c0c0c0;
  }
  .media-carousel .carousel-indicators .active
  {
    background: #333333;
  }
  .media-carousel img
  {
    width: 250px;
    height: 100px
  }
  /* End carousel */



