// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.our-image-cover{
  // margin-top: 20% !important;
  height: 80px !important;
  div{
    height: 100% !important;
    margin-top: 6% !important;
  }
}
