<nav class="custom_nav">
  <div class="nav-wrapper teal">
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="left">
      <li>
        <%= link_to get_site_root_site_link do %>
          <h3 class="header home_app_title before-scroll our-custom-header">EventX</h3>
        <% end %>
      </li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <% if current_user.event_manager? %>
      <li><%= link_to new_event_path do %><i class="material-icons">library_add</i><% end %></li>
      <% end %>
      <li><a href="#"><i class="material-icons">notifications</i></a></li>
      <li><%= link_to dashboard_path do %><i class="material-icons">refresh</i><% end %></li>
      <li><a href="#"><i class="material-icons">more_vert</i></a></li>
    </ul>
  </div>
</nav>
