<% if content_for? :nav_cat %>
<div id="main">
  <div class="wrapper">
    <aside id="left-sidebar-nav">
      <ul class="side-nav fixed leftside-navigation" id="slide-out">
        <%= yield :nav_cat %>
      </ul>
    </aside>
  </div>
</div>
<% end %>

<aside id="left-sidebar-nav">
  <ul class="side-nav leftside-navigation" id="nav_mobile">
    <%= yield :nav_cat %>
  </ul>
</aside>
