<!DOCTYPE html>
<html>
<head>
  <title>EventX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= wicked_pdf_stylesheet_link_tag "pdf",
  "https://fonts.googleapis.com/css?family=Great+Vibes",
  "https://fonts.googleapis.com/icon?family=Material+Icons",
  "https://fonts.googleapis.com/css?family=Open+Sans:300,600",
  media: "print", "data-turbolinks-track" => true %>
  <%= wicked_pdf_javascript_include_tag "application",
  "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places",
  "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
